SUPABASE_CONNECTION_STRING=
JWT_ISSUER=NinetyBackend
JWT_AUDIENCE=NinetyBackendClient
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_MINUTES=15
JWT_REFRESH_TOKEN_DAYS=30

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
